:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.card {
  padding: 2em;
  margin-bottom: 10px;
}

.card-title {
  color: white;
}

a {
  text-decoration: none;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.overviewImage {
  width: 200px;
  aspect-ratio: 3/5;
  cursor: pointer;
}

.statTable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.goBack {
  position: absolute;
  top: 20px;
  left: 20px;
}

button {
  cursor: pointer;
}

button svg {
  width: 48px;
  aspect-ratio: 1 / 1;
}

.overviewImage:hover{
  scale: 1.1;
}

th, td {
  width: 150px;
  padding: 5px;
}

th {
  text-align: left;
}

td {
  text-align: right;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
